.addIcon {
    font-size: 2.1rem;
    cursor: pointer;
    padding: 4px;
}

.popper {
    top: -19px;
    display: flex;
    align-items: center;
    padding: 7.8px 3.8px;
    color: #fff;
    background-color: #fff !important;
}

.addMessage {
    border-radius: 4px;
    width: 241px;
    min-height: 75px;
}

.contentItem {
    color: #000;
    background-color: #fff;
    font-size: 1.6rem;
}

.contentItem.options {
    margin-left: -13px;
    margin-right: -13px;
    display: flex;
    flex-direction: column;
    padding: 6px 20px;
    background-color: #fff;
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: #032541;
    }
}