.slider {
    padding-top: 64px;
    height: 400px;
    background: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/tfw5LKySp7uEYJ3CUuD4TKx3s8y.jpg') no-repeat center / cover;
}