.wrapper {
    position: fixed;
    top: -11px;
    left: 4px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 8px 0;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}